<div class="p-2 p-lg-5 mt-5" >
  <%= link_to '<i class="bi bi-arrow-return-left"></i> Back'.html_safe, :back, class: "gredient-text mb-3 rounded-0" %>
  <div class="register h-100 d-flex flex-column align-items-center justify-content-center p-4 max-form-width m-auto rounded-3" >
    <h4 class="fw-bold">Resend confirmation instructions</h4>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'form-label text-muted' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'education.courier@gmail.com', required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control mb-3 rounded-0' %>
      </div>

      <div class="actions my-2 text-center">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-gold rounded-0 text-white w-100' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
