<div class="p-2 p-lg-5" >
  <%= link_to '<i class="bi bi-arrow-return-left"></i> Back'.html_safe, :back, class: "btn btn-info mb-3" %>
  <div class="register h-100 d-flex flex-column align-items-center justify-content-center p-4 max-extended-form-width m-auto rounded-3" >
    <h2 class="fw-bolder">Edit your profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-md field">
          <%= f.label :first_name, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span><br />
          <%= f.text_field :first_name, autofocus: true, placeholder: 'Adv.', required: true, class: 'form-control mb-3' %>
        </div>

        <div class="col-md field">
          <%= f.label :middle_name, class: 'form-label text-muted' %><br />
          <%= f.text_field :middle_name, placeholder: 'Imran', class: 'form-control mb-3' %>
        </div>
      </div>

       <div class="row">
        <div class="col-md field">
          <%= f.label :last_name, class: 'form-label text-muted' %><br />
          <%= f.text_field :last_name, placeholder: 'Zulfiqar', class: 'form-control mb-3' %>
        </div>

        <div class="col-md field">
          <%= f.label :email, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span><br />
          <%= f.email_field :email, autocomplete: "email", placeholder: 'example@gmail.com', required: true, class: 'form-control mb-3' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md field">
          <%= f.label :qualification, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span><br />
          <%= f.text_field :qualification, placeholder: 'LLM', required: true, class: 'form-control mb-3' %>
        </div>

        <div class="col-md field">
          <%= f.label :experience, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span><br />
          <%= f.text_field :experience, placeholder: '5 Years', required: true, class: 'form-control mb-3' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md field">
          <%= f.label :province, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span><br />
          <%= f.select :province, User::PROVINCES, {}, class: "form-select" %>
        </div>

        <div class="col-md field">
          <%= f.label :district, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span><br />
          <%= f.text_field :district, placeholder: 'Lahore', required: true, class: 'form-control mb-3' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md field">
          <%= f.label :tehsil_bar, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span>
          <%= f.text_field :tehsil_bar,class: "form-control mb-3", required: true, placeholder: "Tehsil Bar" %>
        </div>

        <div class="col-md field">
          <%= f.label :profile_picture, class: 'form-label text-muted' %><br />
          <%= f.file_field :avatar, class: 'form-control mb-3', accept:'image/*' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md field">
          <%= f.label :id_card_picture, class: 'form-label text-muted' %><br />
          <%= f.file_field :id_card, class: 'form-control mb-3', accept:'image/*' %>
        </div>

        <div class="col-md field">
          <%= f.label :bar_concil_card_picture, class: 'form-label text-muted' %><br />
          <%= f.file_field :bar_concil_card, class: 'form-control mb-3', accept:'image/*' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :description, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span>
        <%= f.text_area(:description, rows: '3', class: "form-control mb-3", required: true, placeholder: "Tell us about yourself") %>
      </div>

      <div class="row">
        <div class="col-md field">
          <%= f.label :password, class: 'form-label text-muted' %> <i class="text-muted">(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, placeholder: 'adG23d', class: 'form-control mb-3' %>
        </div>

        <div class="col-md field">
          <%= f.label :password_confirmation, class: 'form-label text-muted' %>
          <% if @minimum_password_length %>
            <em class="text-muted">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password_confirmation, placeholder: 'adG23d', class: 'form-control mb-3' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, class: 'form-label text-muted' %><span class="text-danger fs-6"> *</span>
        <i class="text-muted">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control mb-3', required: true %>
      </div>

      <div class="actions my-2 text-center">
        <%= f.submit "Update", class: 'btn btn-success w-100' %>
      </div>
    <% end %>

    <div class="container">
      <div class="row text-secondary">
        <div class="col-md p-0"><hr class="text-muted"></div>
        <span class="col-md p-0 text-center align-self-center"> Or continue with </span>
        <div class="col-md p-0 "> <hr class="text-muted"></div>
      </div>
    </div>

    <h3 class="fw-bolder">Cancel my account</h3>

    <div><%= button_to '<i class="bi bi-trash"></i> Cancel my account'.html_safe, registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>
  </div>
</div>