<%= form_with url: contact_lawyer_path(user_id: user_id), method: :post do |form| %>
  <div class="field">
    <%= form.text_field :name, placeholder: 'Enter Your Full Name', class: 'form-control mb-3 rounded-0', required: true %>
  </div>
  <div class="field">
    <%= form.telephone_field :mobile_number, placeholder: 'Mobile No.(eg: +920300123456)', class: 'form-control mb-3 rounded-0', required: true %>
  </div>
  <div class="field">
    <%= form.email_field :email, placeholder: 'example@gmail.com', class: 'form-control mb-3 rounded-0', required: true %>
  </div>
  <div class="field">
    <%= form.text_area(:feedback, rows: '5', class: "form-control mb-3 rounded-0", required: true, placeholder: "Your message") %>
  </div>
  <div class="field">
    <%= form.submit 'Send Your Message', class: "btn btn-gold text-white rounded-0 w-100" %>
  </div>
<% end %>