<div class="page-title">
  <div class="text-white fw-bold h1">Our Amazing Team</div>
  <div class="fw-semibold mt-4">
    <span class="me-2 text-white"><%= link_to 'Home', root_path, class: 'text-decoration-none text-white' %> > </span>
    <span class="gredient-text">Lawyers</span>
  </div>
</div>

<div class="text-center my-5">
  <div class="gredient-text font-monospace">Team</div>
  <div class="fw-bold h2 d-flex justify-content-center">
    <div class="w-30rem p-1">You will entroduce with our expert team <span class="gredient-text"> members</span></div>
  </div>
  <div class="gredient-border"></div>
</div>

<div class="row mx-0">
  <div class="col-md-4 sticky-search-form">
    <div class="transparent-bg3 p-3vw rounded-2 mb-4">
      <div class="fw-bold text-center gredient-text">Search Lawyers</div>
      <%= form_with url: search_users_path, method: :post do |form| %>
        <div class="field mb-3">
          <%= form.label :name, class: 'fs-14px' %><br />
          <%= form.search_field :name_search, oninput: "this.form.requestSubmit()", class: "form-control" %>
        </div>
        <div class="field mb-3">
          <%= form.label :services, class: 'fs-14px' %><br />
          <%= form.select(:service_id, options_from_collection_for_select(Service.all, :id, :name), { include_blank: 'All' },
              { class: 'form-select', onchange: "this.form.requestSubmit()" }) %>
        </div>
        <div class="field mb-3">
          <%= form.label :tehsil_bar, class: 'fs-14px' %><br />
          <%= form.search_field :tehsil_bar, oninput: "this.form.requestSubmit()", class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="mx-lg-5 mx-2" id="users-list">
      <%= render  @users %>
    </div>
  </div>
</div>