<div class="page-title">
  <div class="text-white fw-bold h1">Our Amazing Team</div>
  <div class="fw-semibold mt-4">
    <span class="me-2 text-white"><%= link_to 'Home', root_path, class: 'text-decoration-none text-white' %> > </span>
    <span class="gredient-text">
      <%= link_to 'Lawyers', users_path, class: 'text-decoration-none' %> > 
      <%= @user.name %>
    </span>
  </div>
</div>

<div class="row px-3vw mx-0 flex-lg-row justify-content-center m-3vw user-profile">
  <div class="col-md-8">
    <div class="d-flex p-md-0">
      <div class="me-3">
        <%= image_tag(@user.user_avatar, class: 'rounded-circle user-profile-pic shadow-sm')%>
      </div>
      <div class="align-self-center">
        <div class="d-flex flex-wrap"><span class="fw-bold fs-1"><%= @user.name %> </span>
          <% if @user.user_summary&.verified_at.present? %><span class="badge btn-gold ms-3 align-self-center"><i class="bi bi-patch-check-fill"></i> Verified</span> <% end %>
        </div>
        <div><span class="fw-semibold">Joined: </span>
          <span class="fs-small" > <%= distance_of_time_in_words(@user.created_at, DateTime.now) %> ago</span>
        </div>
        <div class="fs-small"><%= @user.user_summary&.experience %> years of experience</div>
      </div>
    </div>

    <div class="row mx-0 text-center mt-4 shadow">
      <div class="col-md p-4">
        <div class="gredient-text fw-bold fs-2">97%</div>
        <div class="text-secondary">Satisfaction Rate</div>
      </div>
      <div class="col-md p-4">
        <div class="gredient-text fw-bold fs-2">23</div>
        <div class="text-secondary">Cases</div>
      </div>
      <div class="col-md p-4">
        <div class="gredient-text fw-bold fs-2"><%= @user.user_summary&.experience %></div>
        <div class="text-secondary">Years of Experience</div>
      </div>
    </div>

    <div class="mt-3" data-controller="users" data-users-type-value="description">
      <div class="read-less" id="short-description"><%= @user.user_summary&.description&.html_safe %></div>
      <a href="/" class="text-decoration-none" data-action="users#read_more" id="read-more">Read More</a>
      <a href="/" class="text-decoration-none d-none" data-action="users#read_less" id="read-less">Read Less</a>
    </div>

    <div class="row my-3 mx-0">
      <div class="col-md px-0">
        <div class="fw-semibold">Education</div>
        <li><%= @user.user_summary&.qualification %></li>
      </div>
      <div class="col-md px-0">
        <div class="fw-semibold">Locations</div>
        <li>Province | <span class="text-secondary fw-14px"><%= @user.user_summary&.province %></span></li>
        <li>District | <span class="text-secondary fw-14px"><%= @user.user_summary&.district %></span></li>
        <li>Tehsil Bar | <span class="text-secondary fw-14px"><%= @user.user_summary&.tehsil_bar %><span></li>
      </div>
    </div>

    <% if user_signed_in? && ( current_user.admin? || current_user == @user ) %>
      <div class="border-top py-2 row mx-0" >
        <div class="d-flex col-md-6 flex-column text-center">
          <div class="fw-semibold">ID Card</div>
          <div class="border rounded-3">
            <%= image_tag @user.user_summary&.id_card, alt: 'id-card', class: 'user-info-card rounded-3' %>
          </div>
        </div>
        <div class="d-flex col-md-6 flex-column text-center">
          <div class="fw-semibold">Bar Concil Card</div>
          <div class="border rounded-3">
            <%= image_tag @user.user_summary&.bar_concil_card, class: 'user-info-card rounded-3' %>
          </div>
        </div>
      </div>
    <% end %>

    <div data-controller="users" data-users-type-value="services">
      <div class="fw-bold fs-5">Services</div>
      <div class="mt-1"><%= @user.name %> specializes in the following services and procedures</div>
      <div class="flex-d justify-content-start my-3 read-less-services" id="short-services">
        <% @user.services.each do |service| %>
          <div class="p-3 transparent-bg3 rounded">
            <div class="text-center"><%= add_style(service.icon, ' fs-1 gredient-text').html_safe %></div>
            <div class="fw-semibold gredient-text w-10rem"><%= service.name %></div>
            <div class="text-end fs-5 gredient-text"><a href="/services/<%= service.id%>"><i class="bi bi-arrow-right"></i></a></div>
          </div>
        <% end %>
      </div>
      <% if @user.services.count > 4 %>
        <div class="text-end"> 
          <a href="/" class="text-decoration-none" data-action="users#read_more" id="read-more-services">Read More</a>
          <a href="/" class="text-decoration-none d-none" data-action="users#read_less" id="read-less-services">Read Less</a>
        </div>
      <% end %>
    </div>

    <div>
      <div class="gredient-text text-center">Similar Lawyers</div>
      <div class="d-flex justify-content-center">
        <div class="text-center my-4 fw-bold fs-1 w-33rem"> Some lawyers providing same <span class="gredient-text">services</span></div>
      </div>
      <div>
        <%= render @similar_users %>
      </div>
    </div>
  </div>
  <div class="col-md-4 sticky-form">
    <div class="p-3vw text-gold transparent-bg3">
      <div class="fw-bolder mb-5 h4 text-center">Contact <%= @user.name %></div>
      <div id="contact-page"><%= render 'guest_user_contact_form', user_id: @user.id %></div>
    </div>
  </div>
</div>

