<div class="page-title">
  <div class="text-white fw-bold h1">Our Amazing Team</div>
  <div class="fw-semibold mt-4">
    <span class="me-2 text-white"><%= link_to 'Home', root_path, class: 'text-decoration-none text-white' %> > </span>
    <span class="gredient-text">
      <%= link_to 'Lawyers', users_path, class: 'text-decoration-none' %> > 
      <%= @user.name %>
    </span>
  </div>
</div>

<div class="row flex-column flex-lg-row justify-content-center m-lg-5 user-profile">
  <div class="col-md-8 px-5">
    <div class="d-flex p-md-0">
      <div class="me-3">
        <%= image_tag(@user.user_avatar, class: 'rounded-circle user-profile-pic shadow-sm')%>
      </div>
      <div class="align-self-center">
        <div class="d-flex flex-wrap"><span class="fw-bold fs-large"><%= @user.name %> </span>
          <% if @user.verified_at.present? %><span class="badge btn-gold ms-3 align-self-center"><i class="bi bi-patch-check-fill"></i> Verified</span> <% end %>
        </div>
        <div><span class="fw-semibold">Joined: </span>
          <span class="fs-small" > <%= distance_of_time_in_words(@user.created_at, DateTime.now) %> ago</span>
        </div>
        <div class="fs-small"><%= @user.experience %> years of experience</div>
      </div>
    </div>

    <div class="row mx-0 text-center mt-4 shadow">
      <div class="col-md p-4">
        <div class="gredient-text fw-bold fs-2">97%</div>
        <div class="text-secondary">Satisfaction Rate</div>
      </div>
      <div class="col-md p-4">
        <div class="gredient-text fw-bold fs-2">97%</div>
        <div class="text-secondary">Satisfaction Rate</div>
      </div>
      <div class="col-md p-4">
        <div class="gredient-text fw-bold fs-2"><%= @user.experience %></div>
        <div class="text-secondary">Years of Experience</div>
      </div>
    </div>

    <div class="mt-3" data-controller="users">
      <div class="read-less" id="short-description"><%= @user.description %></div>
      <a href="/" class="text-decoration-none" data-action="users#read_more" id="read-more">Read More</a>
      <a href="/" class="text-decoration-none d-none" data-action="users#read_less" id="read-less">Read Less</a>
    </div>

    <div class="row my-3">
      <div class="col-md">
        <div class="fw-semibold">Education</div>
        <li><%= @user.qualification %></li>
      </div>
      <div class="col-md">
        <div class="fw-semibold">Locations</div>
        <li>Province | <span class="text-secondary fw-14px"><%= @user.province %></span></li>
        <li>District | <span class="text-secondary fw-14px"><%= @user.district %></span></li>
        <li>Tehsil Bar | <span class="text-secondary fw-14px"><%= @user.tehsil_bar %><span></li>
      </div>
    </div>

    <% if user_signed_in? && current_user.admin? %>
      <div class="border-top py-2 row" >
        <div class="d-flex col-md-6 flex-column text-center">
          <div class="fw-semibold">ID Card</div>
          <div class="border rounded-3">
            <%= image_tag @user.id_card, class: 'user-info-card rounded-3' %>
          </div>
        </div>
        <div class="d-flex col-md-6 flex-column text-center">
          <div class="fw-semibold">Bar Concil Card</div>
          <div class="border rounded-3">
            <%= image_tag @user.bar_concil_card, class: 'user-info-card rounded-3' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="p-5 text-gold transparent-bg3">
      <div class="fw-bolder mb-5 h4 text-center">Contact <%= @user.name %></div>
      <%= form_with url: root_path, method: :post, id: 'guest-user-feedback' do |form| %>
        <div class="field">
          <%= form.text_field :name, placeholder: 'Enter Your Full Name', class: 'form-control mb-3 rounded-0', required: true %>
        </div>
        <div class="field">
          <%= form.telephone_field :mobile_number, placeholder: 'Mobile No.(eg: +920300123456)', class: 'form-control mb-3 rounded-0', required: true %>
        </div>
        <div class="field">
          <%= form.email_field :email, placeholder: 'example@gmail.com', class: 'form-control mb-3 rounded-0', required: true %>
        </div>
        <div class="field">
          <%= form.text_area(:feedback, rows: '3', class: "form-control mb-3 rounded-0", required: true, placeholder: "Your message") %>
        </div>
        <div class="field">
          <%= form.submit 'Send Your Message', class: "btn btn-gold text-white rounded-0 w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-img">
  <div class="text-center p-5 mb-5 transparent-bg2"> 
    <div class="gredient-text font-monospace mb-3">Services</div>
    <div class="d-flex justify-content-center my-3">
      <div class="fw-bold text-white w-33rem fs-4">
        <span class="gredient-text"><%= @user.name %></span> specializes in the following services and procedures
      </div>
    </div>
    <div class="flex-d">
      <%= render @user.services %>
    </div>
  </div>
</div>
