<div class="p-5" >
  <%= link_to '<i class="bi bi-arrow-return-left"></i> Back'.html_safe, :back, class: "btn btn-info mb-3" %>
  <div class="register h-100 d-flex flex-column align-items-center justify-content-center p-4 max-form-width m-auto rounded-3" >
    <h2 class="fw-bolder">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'form-label text-muted' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'form-control mb-3' %>
      </div>

      <div class="actions my-2 text-center">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
