<footer class="gredient-background text-center text-lg-start border-top">
  <div class="container p-4 text-white">
    <div class="row">
      <div class="col-md">
        <div class="fw-semibold mb-3">PAGES</div>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 hover-animation"><%= link_to '<i class="bi bi-house-door"></i> Home'.html_safe, root_path, class: "text-decoration-none fw-normal fs-14px text-white" %></li>
          <li class="nav-item mb-2 hover-animation"><%= link_to '<i class="bi bi-tags"></i> Services'.html_safe, root_path, class: "text-decoration-none fw-normal fs-14px text-white" %></li>
        </ul>
      </div>
      <div class="col-md">
        <div class="fw-semibold mb-3">ABOUT US</div>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 hover-animation"><%= link_to '<i class="bi bi-info-circle"></i> ABOUT US'.html_safe, root_path, class: "text-decoration-none fw-normal fs-14px text-white" %></li>
          <li class="nav-item mb-2 hover-animation"><%= link_to '<i class="bi bi-envelope-fill"></i> CONTACT US'.html_safe, root_path, class: "text-decoration-none fw-normal fs-14px text-white" %></li>
          <li class="nav-item mb-2 hover-animation"><%= link_to "<i class='bi bi-question-circle'></i> FAQ's".html_safe, root_path, class: "text-decoration-none fw-normal fs-14px text-white" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-flex text-white justify-content-between px-5 bg-black pt-3 border-top">
    <p class="fw-light fs-14px">&copy; 2023 Law Firm. All rights reserved.</p>
    <ul class="list-unstyled d-flex mb-2">
      <li class="ms-3"><a class="link-dark" href="https://github.com/usman-zulfiqar065" target = "_blank"><i class="bi bi-github fs-3 text-secondary"></i></a></li>
      <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/usman-zulfiqar/" target = "_blank"><i class="bi bi-linkedin fs-3 text-secondary"></i></a></li>
    </ul>
  </div>
</footer>
