<div class="header pt-lg-4">
  <nav class="navbar py-0 navbar-expand-lg navbar-dark px-lg-5 sticky-top transparent-bg">
    <div class="container-fluid mx-lg-5">
      <a class="navbar-brand" href="/"><%= image_tag 'logo.png', class: 'logo' %></a>
      <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: "nav-link px-lg-4 fw-semibold fs-14px #{ home_page?(params[:controller], params[:action]) }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Lawyers', users_path, class: "nav-link px-lg-4 fw-semibold fs-14px #{ lawyers_page?(params[:controller]) }" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Services', services_path, class: "nav-link px-lg-4 fw-semibold fs-14px #{ services_page?(params[:controller]) }" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-14px px-lg-4 fw-semibold" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About us
            </a>
            <div class="dropdown-menu rounded-0 p-2 width-25rem" aria-labelledby="navbarDropdownMenuLink2">
              <a href="/about" class="dropdown-item rounded-2 mb-2 hover-pad">
                <div class="fw-semibold fs-14px">About Us</div>
                <div class="fs-14px fw-light ws-normal text-muted">Discover the story behind our mission, explore what we have to offer, 
                  and learn more about who we are</div>
              </a>
              <a href="/contact" class="dropdown-item rounded-2 mb-2 hover-pad">
                <div class="fw-semibold fs-14px">Contact Us</div>
                <div class="fs-14px fw-light ws-normal text-muted">Counsel is just a call away - get in touch with our expert legal team for personalized solutions and reliable guidance</div>
              </a>
              <a href="/faqs" class="dropdown-item rounded-2 mb-2 hover-pad">
                <div class="fw-semibold fs-14px">FAQ's</div>
                <div class="fs-14px fw-light ws-normal text-muted">Have any question? Please have a look at some frequently asked questions</div>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a href="https://dsjlahore.punjab.gov.pk/" class="nav-link px-lg-4 fw-semibold fs-14px" target="_blank">Case Management</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag(set_navbar_user_url, class: "rounded-circle nav-avatar border border-2 border-primary") %>
            </a>
            <ul class="dropdown-menu rounded-0 p-2" aria-labelledby="navbarDropdown">
                <% if user_signed_in? %>
                  <% if current_user.admin? %>
                    <li class="hover-pad"><%= link_to '<i class="bi bi-person-check-fill"></i> Admin Pannel'.html_safe, admin_root_path, class: "dropdown-item nav-link mx-1 text-dark mb-2"%></li>
                  <% end %>
                  <% if current_user.lawyer? %>
                    <li class="hover-pad"><%= link_to '<i class="bi bi-person-bounding-box"></i> My Profile'.html_safe, current_user, class: "dropdown-item nav-link mx-1 text-dark mb-2" %></li>
                  <% end %>
                  <li class="hover-pad"><%= link_to '<i class="bi bi-gear"></i> Update Account'.html_safe, edit_user_registration_path(current_user), class: "dropdown-item nav-link mx-1 text-dark mb-2"%></li>
                  <li class="hover-pad"><hr class="dropdown-divider"></li>
                  <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn text' %></li>
                <% else %>
                  <li class="hover-pad"><%= link_to '<i class="bi bi-box-arrow-in-right"></i> Sign in'.html_safe, new_user_session_path, class: "dropdown-item nav-link mx-1 text-dark mb-2" %></li>
                  <li class="hover-pad"><%= link_to '<i class="bi bi-person-plus"></i> Sign up'.html_safe, new_user_registration_path, class: "dropdown-item nav-link mx-1 text-dark mb-2" %></li>
                <% end %>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>
</div>