<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div>
        <%= image_tag 'slider1.jpg', class: 'w-100' %>
        <div class="carousel-1">
          <div class="fw-semibold h3 mb-0">Welcome to Law Firm</div>
          <div class="d-flex justify-content-center res-pad2">
            <div class="w-52vw fs-large fw-semibold">Providing Comprehensive Legal Solutions <span class="text-gold">Nationwide</span></div>
          </div>
          <div><%= link_to 'Contact us today', root_path, class: 'btn rounded-5 btn-gold fw-bold text-white res-pad px-lg-4 py-lg-3' %></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div>
        <%= image_tag 'slider2.jpg', class: 'w-100' %>
        <div class="carousel-2 w-100">
          <div>Legal expertise, personalized attention, and unwavering commitment</div>
          <div class="d-flex justify-content-end mb-5vw">
            <div class="w-33rem fs-large fw-semibold">We are your partner in legal matters</div>
          </div>
          <div><%= link_to 'Contact us today', root_path, class: 'btn rounded-5 btn-gold fw-bold text-white res-pad px-lg-4 py-lg-3' %></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div>
        <%= image_tag 'slider3.jpg', class: 'w-100' %>
        <div class="carousel-3">
          <div class="fs-2vw fw-semibold text-center">Accomplished Corporate Lawyers</div>
          <div class="d-flex justify-content-center mb-5vw">
            <div class="w-52vw fs-large fw-semibold text-center">We are here to protect any kind of <span class="text-gold">voilence</span></div>
          </div>
          <div class="text-center"><%= link_to 'Contact us today', root_path, class: 'btn rounded-5 btn-gold fw-bold text-white res-pad px-lg-4 py-lg-3' %></div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>