<div class="page-title mb-5">
  <div class="text-white fw-bold h1">About us</div>
  <div class="fw-semibold mt-4">
    <span class="me-2 text-white"><%= link_to 'Home', root_path, class: 'text-decoration-none text-white' %> > </span>
    <span class="gredient-text">About Us </span>
  </div>
</div>

<%= render 'pages/home_partials/about_us' %>

<div class="transparent-bg3">
  <div class="px-10vw py-5">
    <div class="text-center gredient-text font-monospace mb-3">Our Mission</div>
    <div>At Law Firm, we are a team of dedicated and experienced legal professionals committed to providing reliable and 
        effective legal solutions to individuals and businesses across Pakistan. Our firm was founded with a vision to 
        deliver high-quality legal services and guidance to clients, ensuring their rights are protected and their 
        legal needs are met.</div>
  </div>
</div>

<div class="px-10vw my-5">
  <div class="fw-bold fs-1 mb-3">Why Choose Law <span class="gredient-text">Firm</span></div>
  <div class="row">
    <div class="col-md">
      <div class="mb-2">
        <div class="fw-bold">Experienced Team</div>
        <div class="fs-14px fw-light">Our team of lawyers brings extensive experience and expertise in handling diverse legal matters.</div>
      </div>
      <div class="mb-2">
        <div class="fw-bold">Personalized Attention</div>
        <div class="fs-14px fw-light">
          We believe in giving individualized attention to each client, understanding their unique situation, 
          and offering tailored solutions.
        </div>
      </div>
      <div class="mb-2">
        <div class="fw-bold">Results-Driven</div>
        <div class="fs-14px fw-light">Our focus is on delivering results and achieving successful outcomes for our clients.</div>
      </div>
      <div class="mb-2">
        <div class="fw-bold">Transparent Communication</div>
        <div class="fs-14px fw-light">
          We maintain open and transparent communication with our clients, keeping them informed at every stage of 
          their legal journey.
        </div>
      </div>
      <div>
        <div class="fw-bold">Client Satisfaction</div>
        <div class="fs-14px fw-light">Client satisfaction is our top priority, and we work diligently to exceed expectations.</div>
      </div>
    </div>
    <div class="col-md p-1">
      <%= image_tag 'slider3.jpg', class: 'rounded-5 w-100 shadow-lg h-fill-available' %>
    </div>
  </div>
</div>

<% if @gallery_images.exists? %>
  <div class="px-10vw mb-5">
    <div class="text-center gredient-text font-monospace mb-3">Image Gallery</div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag @gallery_images.first.avatar, class: 'd-block w-100 rounded-5 h-40vw' %>
          <div class="carousel-caption">
            <h5><%= @gallery_images.first.title %></h5>
          </div>
        </div>
        <% @gallery_images.each_with_index do |gallery_img, index| %>
          <% next if index.zero? %>
          <div class="carousel-item">
            <%= image_tag gallery_img.avatar, class: 'd-block w-100 rounded-5 h-40vw' %>
            <div class="carousel-caption">
              <h5><%= gallery_img.title %></h5>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
<% end %>
