<div style="color: black">
  <!-- Header -->
  <div style="text-align: center">
    <img src="https://res.cloudinary.com/da0ucjlxx/image/upload/v1691611788/Adalat.pk_wrotwb.png" alt="Adalat.pk Logo" style="width: 7vw; height: 7vw;">
  </div>

  <!-- Body -->
  <div>
    <div>
      <div style="padding: 1rem 1rem 1rem 0">Hi <strong><%= @admin.name %> </strong></div>
      There is a new client message on Adalat.pk
      <div style="padding: 10px; border: 1px solid #D2A66B; border-radius: 5px;">
        <div style="padding-bottom: 0.5rem;"><span style="font-weight: bold;">Name: </span> <%= @name %></div>
        <div style="padding-bottom: 0.5rem;"><span style="font-weight: bold;">Email: </span> <%= @email %></div>
        <div style="padding-bottom: 0.5rem;"><span style="font-weight: bold;">Mobile Number: </span>
          <a href="tel:<%= @mobile_number %>" class="text-decoration-none"><%= @mobile_number %></a></div>
        <div style="padding-bottom: 0.5rem;"><span style="font-weight: bold;">Message: </span> <%= @message %></div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div><h3> THANKS FOR USING ADALAT.PK </h3>
</div>
