<!DOCTYPE html>
<html>
  <head>
    <title>LawFirm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <%= javascript_importmap_tags %>
  </head>

  <body id="body_tag">
    <%= render 'shared/navbar' %>
    <%= render 'shared/toast' %>
    <%= render 'shared/contact_links' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
